<div class="row typography top-menu">

    <div class="filterBlock col-lg-2"  ng-click="budgetDetails = ! budgetDetails">
        <div class="filterTitle">Budget:</div>
        <div class="salmon">
            ${{priceSlider}}
        </div>
        <!-- <budget></budget> -->
    </div>

    <div class="filterBlock col-lg-3" ng-click="destinationDetails = ! destinationDetails">
        <div class="filterTitle">Where:</div>
        <div class="salmon">
            <span class="placeHolderLocation">Romantic</span> {{ specificLocation | limitTo: 13 }}{{specificLocation.length > 12 ? '...' : ''}}
        </div>
        
    </div>

    <div class="filterBlock col-lg-1">
        <div class="filterTitle">For:</div>
        <headcount></headcount>
    </div>

    <div class="filterBlock col-lg-3" ng-click="arrivalDetails = ! arrivalDetails">
        <div class="filterTitle">From:</div>
        <div class="salmon">
            {{arriveDate.defaultValue | date:'EEE, MMM dd' }}
        </div>
        <!-- <date-arrival></date-arrival> -->
    </div>

    <div class="filterBlock col-lg-3">
        <div class="filterTitle">To:</div>
        <date-departure></date-departure>
    </div>

</div>


<div class="row typography">

    <div id="budgetDetailsContainer" class="customDrop" ng-show="budgetDetails">
        <div class="upTriangle">
            <i class="fa fa-caret-up"></i>
        </div>
        <budget></budget>
    </div>

    <div id="destinationDetailsContainer" class="customDrop" ng-show="destinationDetails">
        <div class="upTriangle">
            <i class="fa fa-caret-up"></i>
        </div>
        <destination></destination>
    </div>

    <div id="arrivalDetailsContainer" class="customDrop" ng-show="arrivalDetails">
        <div class="upTriangle">
            <i class="fa fa-caret-up"></i>
        </div>
        <date-arrival></date-arrival>
    </div>

</div>
