.filterBlock {
    border: 1px solid $border-grey;
    border-left: 0;
    padding: 1.5em;
    background-color: #ffffff;

    &:hover {
        background-color: $highlight-grey;
        cursor: pointer;
    }
}

.customDrop {
    background-color: $salmon;
    padding: 20px;
    color: #ffffff;

    .upTriangle {
        position: absolute;
        font-size: 2em;
        color: $salmon;
    }
}

.upTriangle {
    text-align: center;
    .fa {
        color: $salmon;
        font-size: 3em;
        position: absolute;
        margin-top: -6px;
        @media screen and (max-width: $break-phone) {
            display: none;
        }
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }
}

#arrivalDetailsContainer, #departureDetailsContainer {
	padding: 0;
}