.filterBlock {
    border: 1px solid $border-grey;
    border-left: 0;
    padding: 1em;
    background-color: #ffffff;
    
    .filterTitle {
        font-size: .7em;
    }

    &:hover {
        background-color: $highlight-grey;
        cursor: pointer;
    }
}

.customDrop {
    background-color: $salmon;
    padding: 20px;
    color: #ffffff;
}

.upTriangle {
    text-align: center;
    .fa {
        color: $salmon;
        font-size: 3em;
        position: absolute;
        margin-top: -10px;
        margin-left: -10px;
        @media screen and (max-width: $break-phone) {
            display: none;
        }
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
    }
}

#arrivalDetailsContainer, #departureDetailsContainer, #destinationDetailsContainer, #adultDetailsContainer {
	padding: 0;
}