.widgetContainer {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.filterBlock {
    border: 1px solid $border-grey;
    border-left: 0;
    padding: 2em .5em 2em 1.5em;
    background-color: #ffffff;

    .filterTitle {
        font-size: .9em; //.7
        color: $darkest-grey;
    }
    
    .bindedValue {
        font-weight: 600;
        font-size: 1.2em;
    }

    &:hover {
        background-color: $highlight-grey;
        cursor: pointer;
    }

    .destinationTitle {
        min-height: 1.4em;
        display: block;
        text-transform: capitalize;
    }
}

.filterBlockActive {
    background-color: $border-grey;
}

.customDrop {
    background-color: $salmon;
    padding: 20px;
    color: #ffffff;
}

.upTriangle {
    text-align: center;

    .fa {
        color: $salmon;
        font-size: 3em;
        position: absolute;
        margin-top: 3px;
        margin-left: -10px;

        @media screen and (max-width: $break-phone) {
            display: none;
        }
        
        @media screen and (max-width: $break-tablet) {
            display: none;
        }
   
    }
}

#arrivalDetailsContainer, #departureDetailsContainer, #destinationDetailsContainer, #adultDetailsContainer {
    padding: 0;
}