.singleLogo {
    margin-top: 3em;
    margin-bottom: 1.5em;
    width: 8em;
    @media screen and (max-width: $break-tablet) {
        margin-top: 1em;
        margin-bottom: 1em;
        //float: left;
    }
}

.navbar-default {
    background: none;
    border: 0;
    position: absolute;
    margin-top: 2em;

    .logo {
        width: 8em;
    }

    .navbar-nav > li > a {
        padding-top: 0;
        font-weight: 600;
        color: $salmon;
        font-size: 1.2em;
    }
}