#budgetDetailsContainer {
    min-height: 100px;
}

#budgetIntroDetailsContainer {
    position: absolute;
    width: 25vw;
    margin-left: -10vw;
    padding: 0 20px;
    
    .priceSliderContainer {
        width: 100%;
    }
    rzslider {
        margin: 15px auto;
    }
    rzslider span.rz-pointer {
        top: -9px;
        width: 22px;
        height: 22px;
    }
}

.budgetValue {
    font-size: 2em;
    font-weight: 600;
    float: right;
    margin-top: 10px;
}

.priceSliderContainer {
    width: 80%;
    float: left;
}

rzslider {

    .rz-bubble {
        display: none;
    }

    .rz-pointer {
        background-color: #ffffff !important;
    }

    .rz-selection {
        background: $green !important;
    }

    .rz-active:after {
        background-color: #ffffff !important;
    }
}
