$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

// webfont style
$font-stack: Open Sans, sans-serif;

// site colors
$orange: #feb900;
$green: #1be1a6;
$grey: #7f7f7f;
$salmon: #e3005a;
$blue: #4a90e2;
$sky-orange: #fea676;
$light-salmon: #ed6e9c;
$light-green: #ecffd7;
$light-grey: #fafafa;
$medium-grey: #b4b4b4;
$dark-grey: #323232;
$border-grey: #efefef;
$highlight-grey: #fafafa;
$darkest-grey: #666666;

// media queries
$break-phone: 768px;
$break-tablet: 1200px;
$break-desktop: 1200px;

// reusable styles
.typography {
	font-family: $font-stack; 
	font-weight: normal;
	margin: 0;
}

.no-padding {
	padding: 0;
	margin: 0;
}

.salmon {
    color: $salmon;
}

.ultra-light {
    font-weight: 100;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'db/db.scss';
@import 'filterNav/filterNav.scss';
@import 'filters/budget/budget.scss';
@import 'filters/dateArrival/dateArrival.scss';
@import 'filters/dateDeparture/dateDeparture.scss';
@import 'filters/destination/destination.scss';
@import 'filters/headcount/headcount.scss';
@import 'footer/footer.scss';
@import 'fullText/fullText.scss';
@import 'googleMap/googleMap.scss';
@import 'introText/introText.scss';
@import 'main/main.scss';
@import 'mapContainer/mapContainer.scss';
@import 'navbar/navbar.scss';
@import 'resultsList/resultsList.scss';
@import '../components/modal/modal.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
