.adultCountContainer {
    position: absolute;
    z-index: 1;
    float: left;
    margin-left: -1em;
    width: 100%;
    margin-top: 15px;
    .adultCount {
        div {
            font-size: 1em;
            background: $light-grey;
            outline: 1px solid $border-grey;
            padding: 2em;
            cursor: pointer;
            color: #000000;
            text-align: center;
            width: auto;
            &:hover {
                background-color: $salmon;
                color: #ffffff;
            }
        }
    }
}