// full container

.adultCountContainer {
    position: absolute;
    z-index: 1;
    float: left;
    margin-left: -21px;
    width: 100%;
    margin-top: 29px;
    .adultCount {
        div {
            font-size: 1em;
            background: $light-grey;
            outline: 1px solid $border-grey;
            padding: 1em;
            cursor: pointer;
            color: #000000;
            text-align: center;
            width: auto;
            &:hover {
                background-color: $salmon;
                color: #ffffff;
            }
        }
    }
}

// intro container 

.introContainer {
    .introParagraph {
        .adultCountContainer {
            position: absolute;
            z-index: 0;
            float: none;
            margin-left: 0;
            width: auto;
            margin-top: -2em;
            .adultCount {
                div{
                    padding: 2.5em;
                    width: auto;
                    font-weight: normal;
                    line-height: 0;
                    font-size: 0.4em;
                }
            }
        }
    }
}
