@mixin pullArrow {
    position: absolute;
    z-index: 1;
    background-color: #323232;
    padding: 10px;
    font-size: 1.2em;
    color: #ffffff;
    cursor: pointer;
}

.fullListPush {
    @include pullArrow;

    margin-top: 90px;
    right: -33px;

    @media screen and (max-width: $break-tablet) {
        display: none;
    }
}

.fullListPull {
    @include pullArrow;

    margin-top: 92px;
    right: 0;

    @media screen and (max-width: $break-tablet) {
        display: none;
    }
}