@mixin pullArrow {
    position: absolute;
    z-index: 1;
    background-color: #323232;
    padding: 10px;
    font-size: 1em;
    color: #ffffff;
    cursor: pointer;
}

.fullListPush {
    @include pullArrow;

    right: -32px;

    @media screen and (max-width: $break-tablet) {
        display: none;
    }
}

.fullListPull {
    @include pullArrow;

    right: 0;

    @media screen and (max-width: $break-tablet) {
        display: none;
    }
}