<navbar></navbar>

<div class="introMask" ng-show="overlayMask" ng-click="budgetIntroDetails=false; destinationIntroDetails=false; arrivalIntroDetails=false; departureIntroDetails=false; adultDetails=false; overlayMask=false"></div>

<div class="introContainer text-center">
    <div class="introParagraph">
        <span class="customSize ultra-light">My nightly budget is</span>

        <div class="introSelect" ng-click="budgetIntroDetails = ! budgetIntroDetails; overlayMask=true">
            <span class="customSize">${{priceSlider.value}}<span class="caret"></span></span>
            <div id="budgetIntroDetailsContainer" class="customDrop" ng-show="budgetIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <budget></budget>
            </div>
        </div>

        <span class="customSize ultra-light">and I want to go <span class="switchSomewhere">somewhere</span></span>

        <div class="introSelect">
            <span ng-click="destinationIntroDetails=true; overlayMask=true; inputFun()">
                <span class="destinationTitle salmon">
                    <span class="customSize">
                        {{ specificLocation | limitTo: 20 }}{{specificLocation.length > 12 ? '...' : ''}} 
                    
                        {{category}}
                        <span id="ifFamily"></span>
                    </span>
                </span>
                <span class="caret"></span>
            </span>
            <div id="destinationIntroDetailsContainer" class="customDrop" ng-show="destinationIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <input id="navIntroLocationField" class="destinationSpecific" type="text" ng-model="specificIntroLocation" placeholder="Specific city, or..." autofocus>
                <div id="destinationCategoryContainer" ng-class="{'shortCatContain': specificIntroLocation.length}"> <!--ng-show="specificIntroLocation.length"-->
<!--                    <div class="destinationCategoryTitle">or Category:</div>-->
                    <div class="destinationCategories" ng-repeat="places in typesOfPlaces">
                        <div class="categoryButton {{places.title}}" ng-click="yelpHold(places.title); changeText(places.title)" ng-class="{'activeCategory':$first}"><i class="fa fa-{{places.icon}}"></i> {{places.title}}</div>
                    </div>
                </div>
            </div>
        </div>

        <span class="customSize">for</span>

        <div class="introSelect" ng-click="adultDetails = ! adultDetails; budgetIntroDetails=false; destinationDetails=false; arrivalIntroDetails=false; destinationIntroDetails=false; overlayMask=true">
            <div class="salmon">
                <span class="totalGuest customSize"></span><span class="caret"></span>
            </div>
            <div id="adultDetailsContainer" ng-show="adultDetails">
                <headcount></headcount>
            </div>
        </div>

        <span class="customSize ultra-light">from</span>

        <div class="introSelect">
            <span ng-click="arrivalIntroDetails=true; overlayMask=true"><span class="customSize">{{arriveDate.defaultValue | date:'MMMM dd' }}</span></span><span class="caret"></span>
            <div id="arrivalIntroDetailsContainer" class="customDrop" ng-show="arrivalIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <date-arrival></date-arrival>
            </div>
        </div>

        <span class="customSize ultra-light">to</span>

        <div class="introSelect">
            <span ng-click="departureIntroDetails=true; overlayMask=true"><span class="customSize">{{departDate.defaultValue | date:'MMMM dd' }}</span></span><span class="caret"></span>
            <div id="departureIntroDetailsContainer" class="customDrop" ng-show="departureIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <date-departure></date-departure>
            </div>
        </div>

    </div>

    <button class="btn btn-default intro-button" ng-click="introText=false; fullText=true; introSubmit()">Let's do this!</button>
</div>

