intro-text {
    background: url("../assets/images/world-map.ca111708.jpg") no-repeat 0 0;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: block;
}

.introMask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    opacity: .5;
}

.introContainer {
    .introParagraph {
        display: block;
        padding: 0;
        width: 60%;
        margin: 7vw auto 0 auto;
        font-size: 2em;
        color: $dark-grey;
        line-height: 1.7em;
        @media screen and (max-width: $break-phone) {
            width: 95%;
        }
        .customSize {
            font-size: 1.5em;
            line-height: 1.5em;
        }
        .upTriangle {
            position: absolute;
            top: -20px;
            font-size: 1em;
            margin-left: 10.5vw;
            .fa {
                font-size: 1em;
            }
        }
        .introSelect {
            color: $salmon;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin: 0 12px;
        }
    }
    .intro-button {
        color: $salmon;
        border-color: $salmon;
        padding: 1em 6em;
        margin-top: 3em;
        background-color: transparent;
        &:hover {
            background-color: $light-salmon;
            color: #ffffff;
        }
    }
}