.intro-text {
    margin: 20vh auto 0 auto;
    span {
        cursor: pointer;
        font-weight: 600;
    }
    .caret {
        border-bottom: 0;
        border-top: 7px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin: 0px 0px 0px 7px;
    }
    @media screen and (max-width: $break-phone) {
        h1 {
            font-size: 1.2em;
        }
    }
}