<navbar></navbar>

<div class="introContainer text-center">
    <div class="introParagraph">
        My nightly budget is

        <div class="introSelect" ng-click="budgetIntroDetails = ! budgetIntroDetails; destinationIntroDetails=false; arrivalIntroDetails=false; departureIntroDetails=false; adultDetails=false">
            ${{priceSlider}}<span class="caret"></span>
            <div id="budgetIntroDetailsContainer" class="customDrop" ng-show="budgetIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <budget></budget>
            </div>
        </div>

        and I want to go <span class="switchSomewhere">somewhere</span>

        <div class="introSelect">
            <span ng-click="destinationIntroDetails = ! destinationIntroDetails; budgetIntroDetails=false; arrivalIntroDetails=false; departureIntroDetails=false; adultDetails=false">
                <span class="placeHolderLocation">
                    romantic
                </span>
                <span class="cityPlaceHolder">
                    {{ specificLocation | limitTo: 20 }}{{specificLocation.length > 12 ? '...' : ''}}
                </span>
                <span class="categoryPlaceHolder">
                </span>
                <span class="caret"></span>
            </span>
            <div id="destinationIntroDetailsContainer" class="customDrop" ng-show="destinationIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <input id="navIntroLocationField" class="destinationSpecific" type="text" ng-model="specificIntroLocation" placeholder="Los Angeles, CA">
                <div id="destinationCategoryContainer" ng-show="specificIntroLocation.length">
                    <div class="destinationCategoryTitle">or type of place:</div>
                    <div class="destinationCategories" ng-repeat="places in typesOfPlaces">
                        <button class="btn btn-default" ng-click="yelpHold(places); changeText(places)">{{places}}</button>
                    </div>
                </div>
            </div>
        </div>

        for

        <div class="introSelect" ng-click="adultDetails = ! adultDetails; budgetIntroDetails=false; destinationDetails=false; arrivalIntroDetails=false; destinationIntroDetails=false">
            <div class="salmon">
                <span class="totalGuest"></span><span class="caret"></span>
            </div>
            <div id="adultDetailsContainer" ng-show="adultDetails">
                <headcount></headcount>
            </div>
        </div>

        from

        <div class="introSelect">
            <span ng-click="arrivalIntroDetails = ! arrivalIntroDetails; budgetIntroDetails=false; destinationIntroDetails=false; departureIntroDetails=false; adultDetails=false">{{arriveDate.defaultValue | date:'MMMM dd' }}</span><span class="caret"></span>
            <div id="arrivalIntroDetailsContainer" class="customDrop" ng-show="arrivalIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <date-arrival></date-arrival>
            </div>
        </div>

        to

        <div class="introSelect">
            <span ng-click="arrivalIntroDetails=false; departureIntroDetails = ! departureIntroDetails; budgetIntroDetails=false; destinationIntroDetails=false; adultDetails=false">{{departDate.defaultValue | date:'MMMM dd' }}</span><span class="caret"></span>
            <div id="departureIntroDetailsContainer" class="customDrop" ng-show="departureIntroDetails">
                <div class="upTriangle">
                    <i class="fa fa-caret-up"></i>
                </div>
                <date-departure></date-departure>
            </div>
        </div>

    </div>

    <button class="btn btn-default intro-button" ng-click="introText=false; fullText=true; introSubmit()">Let's do this!</button>
</div>