.introContainer {
    .introParagraph {
        display: block;
        padding: 0;
        width: 50%;
        margin: 30vh auto 0 auto;
        margin: 15vh auto 0 auto;
        clear: both;
        font-size: 2em;
        color: $dark-grey;
        line-height: 1.7em;
        .introSelect {
            color: $salmon;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            position: relative;
            z-index: 1;
        }
    }
    button {
        color: $salmon;
        border-color: $salmon;
        padding: 1em 6em;
        margin-top: 2em;
        &:hover {
            background-color: $light-salmon;
            color: #ffffff;
        }
    }
}

.destinationSpecific {
    color: #000000;
}

#budgetIntroDetailsContainer {
    rzslider {
        width: 100%;
        margin: 15px auto;
    }
    //position: absolute;
}
