html, body{
    height: 100%;
    overflow:hidden;
    @media screen and (max-width: $break-phone) {
        overflow: auto;
    }
}

select::-ms-expand {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.arrow-disable::-ms-expand {
    display: none;
    outline: 0;
}

.arrow-disable {
    -webkit-appearance: none;
    appearance: none;
    outline: 0;
}

.caret {
    color: $salmon;
    margin-top: -10px;
}

