<navbar></navbar>

<div class="typography row" ng-controller="MainController">

    <div class="top-menu typography row">
		
		<div class="col-sm-2 col-md-offset-1">
			Budget: 
			<span class="salmon bold">$<input type="number" ng-model="budgetAmount" class="budgetInput no-line-height" placeholder="1000" min="25" max="9999"></span>
		</div>
		
		<div class="col-sm-3">Where:
			<span class="dropdown salmon bold calendar-adjust" dropdown>
			    <span class="dropdown-toggle" dropdown-toggle>
			        <span class="placeHolderLocation">Romantic</span> {{specificLocation}}<span class="caret"></span>
			    </span>
			    <ul class="where-drop-down dropdown-menu disable-drop" dropdown-menu>
					<li>
                        <input id="navLocationField" type="text" ng-model="specificLocation" ng-change="emptyPlace()">
				    </li>
				    
				    <hr>
				    
				    <li ng-repeat="places in typesOfPlaces">
				    	<input type="checkbox" name="{{places}}" value="{{places}}" ng-model="placeSelected">{{places}}
				    </li>

			    </ul>
			</span>
		</div>
		<div class="col-sm-2">
			For: 
			<select ng-model="numberOfAdults.value" ng-options="v for v in numberOfAdults.values" class="adult-drop-down salmon bold arrow-disable"></select>
		</div>
		
		<div class="col-sm-2">
			From: 
			<span class="dropdown salmon bold calendar-adjust" dropdown>
			    <span class="dropdown-toggle" dropdown-toggle>
			        {{arriveDate.defaultValue | date:'EEE, MMM dd' }}<span class="caret"></span>
			    </span>
			    <div class="when-drop-down dropdown-menu disable-drop" dropdown-menu>
					<div class="when-calendar">
						<datepicker ng-model="arriveDate.defaultValue" min-date="arriveDate.minDate" max-date="arriveDate.maxDate" show-weeks="arriveDate.showweeks" datepicker-mode="arriveDate.mode" max-mode="arriveDate.mode"></datepicker>
					</div>
			    </div>
			</span>
		</div>
		
		<div class="col-sm-2">
			To: 
			<span class="dropdown salmon bold" dropdown>
			    <span class="dropdown-toggle" dropdown-toggle>
			        {{departDate.defaultValue | date:'EEE, MMM dd' }}<span class="caret"></span>
			    </span>
			    <div class="when-drop-down dropdown-menu disable-drop" dropdown-menu>
					<div class="when-calendar">
						<datepicker ng-model="departDate.defaultValue" min-date="departDate.minDate" max-date="departDate.maxDate" show-weeks="departDate.showweeks" datepicker-mode="departDate.mode" max-mode="departDate.mode"></datepicker>
					</div>
			    </div>
			</span>
		</div>
		
	</div> <!-- end row for top nav -->
	
	<div class="container">
		<div class="intro-text text-center">
			
			<div>
				<h1>My budget is <span class="salmon">$</span><input type="number" ng-model="budgetAmount" class="budgetInput" placeholder="1000" min="25" max="9999"><span class="caret"></span> and I want</h1>
			</div>
			
			<div>
				<h1>to travel somewhere 

					<span class="dropdown salmon" dropdown>
					    <span class="dropdown-toggle" dropdown-toggle>
					        <span class="placeHolderLocation">Romantic</span> {{specificLocation}}<span class="caret"></span>
					    </span>
					    <ul class="where-drop-down dropdown-menu disable-drop" dropdown-menu>
							<li>
						    	<input id="introLocationField" type="text" ng-model="specificLocation" ng-change="emptyPlace()">
						    </li>
						    
						    <hr>
						    
						    <li ng-repeat="places in typesOfPlaces">
						    	<input type="checkbox" name="{{places}}" value="{{places}}" ng-model="placeSelected">{{places}}
						    </li>

					    </ul>
					</span>
					
					For 
					
					<span class="bold">
						<select ng-model="numberOfAdults.value" ng-options="v for v in numberOfAdults.values" class="adult-drop-down arrow-disable"></select><span class="caret"></span></span>
					
				</h1>
			</div>
			
			<div>
				<h1>From 
					
					<span class="dropdown salmon" dropdown>
					    <span class="dropdown-toggle" dropdown-toggle>
					        {{arriveDate.defaultValue | date:'MMMM dd' }}<span class="caret"></span>
					    </span>
					    <div class="when-drop-down dropdown-menu disable-drop" dropdown-menu>
							<div class="when-calendar">
								<datepicker ng-model="arriveDate.defaultValue" min-date="arriveDate.minDate" max-date="arriveDate.maxDate" show-weeks="arriveDate.showweeks" datepicker-mode="arriveDate.mode" max-mode="arriveDate.mode"></datepicker>
							</div>
					    </div>
					</span>
								
					to 
					
					<span class="dropdown salmon" dropdown>
					    <span class="dropdown-toggle" dropdown-toggle>
					        {{departDate.defaultValue | date:'MMMM dd' }}<span class="caret"></span>
					    </span>
					    <div class="when-drop-down dropdown-menu disable-drop" dropdown-menu>
							<div class="when-calendar">
								<datepicker ng-model="departDate.defaultValue" min-date="departDate.minDate" max-date="departDate.maxDate" show-weeks="departDate.showweeks" datepicker-mode="departDate.mode" max-mode="departDate.mode"></datepicker>
							</div>
					    </div>
					</span>
					
				</h1>
			</div>
						
		</div> <!-- end intro text -->
	</div> <!--  end container -->


	<!--- results list with google maps -->
    <div id="results-container" class="col-sm-6 typography">
        <div class="results" ng-repeat="item in resultsList">

            <div id="{{item.id}}" class="col-sm-6 hotel-item" ng-click="highlightMarker(item.markerId)">

                <img ng-src="http://images.travelnow.com/{{item.listImg}}" fallback-src="http://images.travelnow.com/{{item.listImgFall}}" alt="{{item.name}}" class="hotelImg">

                <div class="hotelAverage">${{item.roundedAverage}}
                    <div class="hotelPerNight">per night</div>
                </div>

                <div class="hotelTotal">Total: ${{item.roundedTotal}}</div>

                <a href="{{item.link}}" target="_blank">
                    <div class="hotelTitle">{{item.name}}</div>
                </a>

                <div class="hotelRating">
                    <img src="{{item.ratingImg}}" class="tripAdvisorRating">
                </div>

            </div>  

        </div>
	</div> <!-- end results -->
	
	<div class="col-sm-6 no-padding">
		<div id="googleMap"></div>
	</div> <!-- end google maps -->
	
</div> <!-- end GoogleMapSDKCtrl -->