// site variables ===================================================================================================

// webfont style
$font-stack: Open Sans, sans-serif;


// site colors
$light-blue: #82cfeb;
$blue: #1061f6;
$yellow: #ffeb00;
$orange: #feb900;
$red: #cd381f;
$green: #7ed321;
$light-grey: #eee;
$medium-grey: #999;
$dark-grey: #666;


// media queries
$break-phone: 768px;


// reusable margins
$small-margin: 1em;
$medium-margin: 1.2em;


// reusable styles
.typography {
  font-family: $font-stack; 
  font-weight: normal;
  margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

.no-padding {
  padding: 0;
  margin: 0;
}

.orange {
  color: $orange;
}

.green {
	color: $green;
}

.black {
  color: 000;
}


// site styles =====================================================================================================

.navbar-brand {

  i {
    color: $orange;
    margin-right: .4em;
  }
  
}

.intro-text {
	
	margin: 20vh auto 0 auto;
	max-width: 670px;
	line-height: 1.5em;
   
    span {
		color: $green;
		cursor: pointer;
		font-weight: 600;
		border-bottom: 1px solid $green;
	}
	
	.caret {
		border-bottom: 0;
	}
	
	@media screen and (max-width: $break-phone) {
		
		h1 {
			font-size: 1.2em;
		}
		
	}
    
}

#googleMap { 
	height: 100vh; 
	//display: none;
}