.bookLink {
	
	a {
		color: #fff;
		
		&:hover {
			text-decoration: none;
		}
		
	}
	
}
.results {
	height: auto;
	max-height: 540px;
	overflow: auto;
}

.hotelTitle {
	font-weight: bold;
}

.hotelImg {
	height: 9em;
    float: left;
    margin-right: 1em;
}

.tripAdvisorRating {
	margin: 5px 0;
}