<div id="results-container" class="col-lg-12 typography">
    <div class="results" ng-repeat="item in resultsList">
        <div id="{{item.id}}" class="col-sm-6 hotel-item" ng-click="highlightMarker(item.markerId)">
            <div class="hotel-item-container" ng-class="{'activeResult':$first}">

                <!-- hotel image window -->
                <div class="hotelImgContainer" ng-switch on="respondProvider">
                    <div ng-class="{'loveIconOff': !isActive, 'loveIconOn': isActive}" ng-init="isActive = false" ng-click="isActive = !isActive"></div>
                    <img ng-src="http://images.travelnow.com/{{item.listImg}}" fallback-src="http://images.travelnow.com/{{item.listImgFall}}" alt="{{item.name}}" class="hotelImg" ng-switch-when="ean">
                    <img ng-src="{{item.listImg}}" fallback-src="{{item.listImgFall}}" alt="{{item.name}}" class="hotelImg" ng-switch-default>
                </div>

                <!-- hotel summary window -->
                <div class="hotelSummary">

                    <div class="hotelPriceContainer">
                        <span class="hotelAvgPrice">${{item.roundedAverage}}</span>
                        <span class="hotelPerNight">/Night</span>
                    </div>
                    <div class="hotelRatingContainer">
                        <div class="ratingCount">{{item.ratingCount}} reviews</div>
                        <img src="{{item.ratingImg}}" class="ratingImg">
                    </div>

                </div>

                <!-- hotel info window -->
                <div class="hotelInfoContainer text-center">

                    <div class="hotelTitle">
                        <span>{{item.name}}</span>
                    </div>
                    <div class="hotelTotal">
                        Total for {{item.totalNights}} nights:
                        <strong>${{item.roundedTotal}}</strong>
                    </div>
                    <div class="hotelLink">
                        <a href="{{item.link}}" target="_blank">
                            <button class="btn btn-default btn-book" ng-class="{'btn-on' : $first}">Book Now</button>
                        </a>
                    </div>

                </div>

            </div>
            <!-- end hotel item container-->
        </div>
        <!-- end hotel item -->
    </div>
    <!-- end results item -->
</div>
<!-- end results container -->
