#googleMap {
    height: 110vh;
}

#googleMap {
    @media screen and (max-width: $break-phone) {
        display: none !important;
    }
}

.markerDisplay {
    font-weight: bold;
    font-size: 1.4em;
    .ratingImg {
        margin: 5px 0;
        width: 5em;
    }
}

#mapContain {
    .singleLogo {
        position: absolute;
        z-index: 1;
        right: 2em;
    }
}