#googleMap {
    height: 110vh;
    width: 100% !important; //make goole maps 100% width
}

/*
    #googleMap {
        @media screen and (max-width: $break-phone) {
            display: none !important;
        }
    }
*/

.markerDisplay {
    font-weight: bold;
    font-size: 1.4em;
    .ratingImg {
        margin: 5px 0;
        width: 5em;
    }
}

#mapContain {
    .singleLogo {
        position: absolute;
        z-index: 1;
        right: 2em;
    }
}

.windowLeftContainer {
    float: left;
    display: inline-block;
    text-align: right;
    .markerTotal {
        font-weight: 600;
        font-size: 1.5em;
        margin-top: 10px;
    }
    .windowTitle {
        width: 150px;
        font-weight: 300;
        font-size: .7em;
    }
}

.windowImg {
    width: 110px;
    float: right;
    margin-left: 1em;
    height: 100px;
    margin-top: 4px;
}