.where-drop-down {
    li {
        font-size: 1em;
        line-height: 20px;
        font-weight: normal;
        color: #000;
        list-style: none;
        input {
            margin: 0 7px;
        }
    }
}