::-webkit-input-placeholder {
    color: $light-salmon;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $light-salmon;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $light-salmon;
}

:-ms-input-placeholder {
    color: $light-salmon;
}

.pac-container {
    width: 21% !important;
    font-family: $font-stack !important;
    background: $dark-grey;
    border-top: 0;
    border-right: 1px solid $darkest-grey;

    .pac-icon {
        display: none;
    }

    .pac-matched {
        color: $salmon;
    }

    .pac-item-query {
        font-size: 1.2em;
        color: #ffffff;
        font-weight: bold;
        display: block;
        clear: both;
        margin-bottom: -9px !important;
    }

    .pac-item {
        color: #ffffff;
        font-size: 1em;
        padding: 0em 1.5em .3em;
        cursor: pointer;
        border-top: 0;
        border-bottom: 1px solid $darkest-grey;

        &:hover {
            background-color: $darkest-grey;
        }
    }
}

.full-pac-container {
    width: 38% !important;

    .pac-icon {
        display: none;
    }

    .pac-matched {
        color: $salmon;
    }

    .pac-item-query {
        font-size: 2em;
        color: #ffffff;
        font-weight: bold;
        display: block;
        clear: both;
        margin-bottom: auto !important;
    }

    .pac-item {
        color: #ffffff;
        font-size: 1em;
        padding: .8em 1.5em;
        cursor: pointer;
        border-top: 0;
        border-bottom: 1px solid $darkest-grey;

        &:hover {
            background-color: $darkest-grey;
        }
    }
}

// full container
.destination {
    font-weight: normal;
    list-style: none;
    padding: 0;
    margin: 0;
    background: $dark-grey;
    height: auto;

    .row-fluid {
        background-color: $dark-grey;
    }

    .destinationSpecific {
        width: 100%;
        padding: .5em .8em;
        background: $salmon;
        border: 0;
        outline: 0;
        color: #ffffff;
        font-size: 2em;
    }

    #categoryContainer {
        width: 100%;
    }

    #categoryItemContainer {
        width: 35%;
        background: #323232;
        text-align: center;
        float: right;

        .destinationCategories {
            width: 100%;
            padding: .3em 1em;

            .categoryButton {
                text-transform: capitalize;
                color: $dark-grey;
                cursor: pointer;
                padding: 1em;
                margin-bottom: 4px;
                background-color: $border-grey;
                border-radius: 2px;
                font-size: 1.3em;
                font-weight: bold;

                &:hover {
                    background-color: $salmon;
                    color: #fff;
                }
            }
        }
    }

    .destinationCategoryTitle {
        font-size: 1.3em;
        font-weight: 700;
        padding: 1.5em 1.5em 1.2em 1.5em;
    }
}

// intro container
.destinationSpecific {
    color: #000000;
}

#destinationIntroDetailsContainer {
    position: absolute;
    padding: 0;
    font-weight: normal;
    width: 35vw;
    min-width: 330px;
    margin-left: -12vw;
    background-color: $dark-grey;

    .upTriangle {
        margin-left: 16.5vw;
    }

    input {
        background: $salmon;
        border: 0;
        outline: 0;
        padding: 0 .8em;
        color: #ffffff;
        font-size: .7em;
        width: 100%;
        float: left;
        height: 55px;
    }

    #destinationCategoryContainer {
        float: right;
        text-align: center;
        width: 100%;
        background: $dark-grey;

        .destinationCategories {
            width: 100%;

            .categoryButton {
                text-transform: capitalize;
                color: $dark-grey;
                cursor: pointer;
                padding: .1em;
                background-color: $border-grey;
                border-radius: 2px;
                font-size: .5em;
                font-weight: bold;
                margin: .7em .5em;

                &:hover {
                    background-color: $salmon;
                    color: #fff;
                }
            }
            
            .activeCategory {
                background-color: $darkest-grey;
                color: #ffffff;
            }
        }
    }
    
    .shortCatContain {
        width: 40% !important;
    }

    .destinationCategoryTitle {
        font-size: .5em;
        font-weight: 400;
        background-color: $salmon;
//        background: -webkit-linear-gradient(left, $salmon, $light-salmon);
//
//        /* For Safari 5.1 to 6.0 */
//        background: -o-linear-gradient(right, $salmon, $light-salmon);
//
//        /* For Opera 11.1 to 12.0 */
//        background: -moz-linear-gradient(right, $salmon, $light-salmon);
//
//        /* For Firefox 3.6 to 15 */
//        background: linear-gradient(to right, $salmon, $light-salmon);

        /* Standard syntax (must be last) */
    }
}